.cart_product_block {
    width: 1091px;
    height: 161px;
    border-radius: 8px;
    background: #FFF;
}

.cart_product_image img {
    width: 136px;
    height: 121px;
}

.cart_product_image {
    padding: 20px;
}

.cart_product_title p {
    margin-bottom: 48px;
    margin-top: 24px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart_product_title a {
    display: block;
    width: 150px;
    color: #507EF4;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.44px;
}

.cart_product_price {
    margin-right: 24px;
}

.price {
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    line-height: normal;
    margin-bottom: 6px;
    display: flex;
    justify-content: end;
    margin-right: 14px;
}

.count_price {
    color: #767676;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    display: flex;
    justify-content: end;
    margin-right: 14px;
}



.cart_product_button {
    margin-top: 55px;
    margin-right: 44px;
    width: 51px;
    height: 51px;
    background-color: #F2B720;
    border-radius: 50%;
    padding-bottom: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}